<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="wodth=device-width, initial-scale=1.0">
        <title>About me</title>

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

        <link href="aos/aos.css" rel="stylesheet">
        <link href="glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="swiper/swiper-bundle.min.css" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="css/main.css" rel="stylesheet" >
    </head>
    <body>
        <header id="header" class="header fixed-top d-flex align-items-center">
            <div class="container d-flex align-items-center justify-content-between">
                <a href="./home" class="logo d-flex align-items-center me-auto me-lg-0">
                    <!-- <img src="img/logo.jpg" alt="---Yeshi---"> -->
                    <h1>Yeshi's<span>.</span></h1>
                  </a>

                  <nav id="navbar" class="navbar">
                    <ul>
                        <li><a href="./home">Home</a></li>
                        <li><a href="./aboutme">About me</a></li>
                        <li><a href="./project">Projects</a></li>
                        <li><a href="./service">Services</a></li>
                        <li><a href="./contactme">Contac me</a></li>
                    </ul>
                  </nav>
            </div>
        </header>

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <p>Learn More <span>About Me</span></p>
              </div>

              <div class="row gy-4">
                <div class="col-lg-7 position-relative about-img" style="background-image: url(img/profile.jpg) ;" data-aos="fade-up" data-aos-delay="150"></div>
                <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
                    <div class="content ps-0 ps-lg-5">
                        <p class="fst-italic">
                            My name is <b>Yeshi Ngawang.</b>
                        </p>

                          <ul>
                            <li><i class="bi bi-check2-all"></i> I am a dedicated and passionate individual with a strong drive to learn and grow in the field of software development.</li>
                            <li><i class="bi bi-check2-all"></i> I possess a solid foundation in programming languages and am continuously expanding my knowledge through coursework and personal projects.</li>
                            <li><i class="bi bi-check2-all"></i> I am adept at problem-solving and enjoy collaborating with others to create innovative and efficient solutions.</li>
                          </ul>
                          <p>
                            I am a person With a keen eye for detail and a commitment to delivering high-quality work, I am eager to contribute my skills and contribute to the success of any organization in need of a dedicated software developer.
                          </p>
                        <p>
                            <a href="/YeshiResume.pdf" target="_blank">To know more you can view my Resume.</a>
                        </p>
                    </div>
                </div>
              </div>


        </div>
        </section>

        <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <div id="preloader"></div>
        <!-- Vendor JS Files -->
        <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="aos/aos.js"></script>
        <script src="glightbox/js/glightbox.min.js"></script>
        <script src="purecounter/purecounter_vanilla.js"></script>
        <script src="swiper/swiper-bundle.min.js"></script>

        <!-- Template Main JS File -->
        <script src="js/main.js"></script>

    </body>
</html>

