<!-- //=========================================================================
//Student
//=========================================================================
/**
 * Name: Yeshi Ngawang
 * Id: 301302902
 */ -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="wodth=device-width, initial-scale=1.0">
        <title>Projects</title>

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

        <link href="aos/aos.css" rel="stylesheet">
        <link href="glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="swiper/swiper-bundle.min.css" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="css/main.css" rel="stylesheet" >
    </head>
    <body>
        <header id="header" class="header fixed-top d-flex align-items-center">
            <div class="container d-flex align-items-center justify-content-between">
                <a href="./home" class="logo d-flex align-items-center me-auto me-lg-0">
                    <!-- <img src="img/logo.jpg" alt="---Yeshi---"> -->
                    <h1>Yeshi's<span>.</span></h1>
                  </a>

                  <nav id="navbar" class="navbar">
                    <ul>
                        <li><a href="./home">Home</a></li>
                        <li><a href="./aboutme">About me</a></li>
                        <li><a href="./project">Projects</a></li>
                        <li><a href="./service">Services</a></li>
                        <li><a href="./contactme">Contac me</a></li>
                        <li><a href="./login">Login</a></li>
                    </ul>
                  </nav>
            </div>
        </header>
        <section id="menu" class="menu">
            <div class="container" data-aos="fade-up">
                <div class="section-header">
                    <h2></h2>
                    <p>Some of projects<span>that I have worked on.</span></p>
                  </div>
                  <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <li class="nav-item">
                        <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
                          <h4>Pulse digital</h4>
                        </a>
                      </li><!-- End tab nav item -->
            
                      <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
                          <h4>DoUCook</h4>
                        </a><!-- End tab nav item -->
            
                      <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
                          <h4>Datanitiv</h4>
                        </a>
                      </li><!-- End tab nav item -->
                  </ul>

                  <div class="tab-content" data-aos="fade-up" data-aos-delay="300">
                    <div class="tab-pane fade active show" id="menu-starters">
                        <div class="tab-header text-center">
                            <h3>Pulse digital</h3>
                        </div>
                        <div class="row gy-5">
                            <div class="col-lg-4 menu-item">
                                <a href="img/pulse/1.jpg" class="glightbox"><img src="img/pulse/1.jpg" class="menu-img img-fluid" alt=""></a>   
                            </div><!-- Menu Item -->

                            <div class="col-lg-4 menu-item">
                                <a href="img/pulse/2.jpg" class="glightbox"><img src="img/pulse/2.jpg" class="menu-img img-fluid" alt=""></a>
                              </div><!-- Menu Item -->

                              <div class="col-lg-4 menu-item">
                                <a href="img/pulse/3.jpg" class="glightbox"><img src="img/pulse/3.jpg" class="menu-img img-fluid" alt=""></a>
                              </div><!-- Menu Item -->
                
                              <div class="col-lg-4 menu-item">
                                <a href="img/pulse/4.jpg" class="glightbox"><img src="img/pulse/4.jpg" class="menu-img img-fluid" alt=""></a>
                              </div><!-- Menu Item -->
                
                              <div class="col-lg-4 menu-item">
                                <a href="img/pulse/5.jpg" class="glightbox"><img src="img/pulse/5.jpg" class="menu-img img-fluid" alt=""></a>
                              </div><!-- Menu Item -->
                
                              <div class="col-lg-4 menu-item">
                                <a href="img/pulse/6.jpg" class="glightbox"><img src="img/pulse/6.jpg" class="menu-img img-fluid" alt=""></a>
                              </div><!-- Menu Item -->
                        </div>
                    </div><!-- End Starter Menu Content -->

                    <div class="tab-pane fade" id="menu-breakfast">
                        <div class="tab-header text-center">
                            <h3>DoUCook</h3>
                        </div>
                        <div class="row gy-5">
                            <div class="col-lg-4 menu-item">
                                <a href="img/DoUCook/1.jpg" class="glightbox"><img src="img/DoUCook/1.jpg" class="menu-img img-fluid" alt=""></a>
                              </div><!-- Menu Item -->
                
                              <div class="col-lg-4 menu-item">
                                <a href="img/DoUCook/2.jpg" class="glightbox"><img src="img/DoUCook/2.jpg" class="menu-img img-fluid" alt=""></a>
                              </div><!-- Menu Item -->
                
                              <div class="col-lg-4 menu-item">
                                <a href="img/DoUCook/3.jpg" class="glightbox"><img src="img/DoUCook/3.jpg" class="menu-img img-fluid" alt=""></a>
                              </div><!-- Menu Item -->
                
                              <div class="col-lg-4 menu-item">
                                <a href="img/DoUCook/4.jpg" class="glightbox"><img src="img/DoUCook/4.jpg" class="menu-img img-fluid" alt=""></a>
                              </div><!-- Menu Item -->
                
                              <div class="col-lg-4 menu-item">
                                <a href="img/DoUCook/5.jpg" class="glightbox"><img src="img/DoUCook/5.jpg" class="menu-img img-fluid" alt=""></a>
                              </div><!-- Menu Item -->
                
                              <div class="col-lg-4 menu-item">
                                <a href="img/DoUCook/6.jpg" class="glightbox"><img src="img/DoUCook/6.jpg" class="menu-img img-fluid" alt=""></a>
                              </div><!-- Menu Item -->
                        </div>
                    </div><!-- End one Menu Content -->

                    <div class="tab-pane fade" id="menu-lunch">
                        <div class="tab-header text-center">
                            <h3>Datanitiv</h3>
                        </div>
                        <div class="row gy-5">
                            <div class="col-lg-4 menu-item">
                                <a href="img/Datanitiv/1.jpg" class="glightbox"><img src="img/Datanitiv/1.jpg" class="menu-img img-fluid" alt=""></a>
                              </div><!-- Menu Item -->
                
                              <div class="col-lg-4 menu-item">
                                <a href="img/Datanitiv/2.jpg" class="glightbox"><img src="img/Datanitiv/2.jpg" class="menu-img img-fluid" alt=""></a>
                              </div><!-- Menu Item -->
                
                              <div class="col-lg-4 menu-item">
                                <a href="img/Datanitiv/3.jpg" class="glightbox"><img src="img/Datanitiv/3.jpg" class="menu-img img-fluid" alt=""></a>
                              </div><!-- Menu Item -->
                
                              <div class="col-lg-4 menu-item">
                                <a href="img/Datanitiv/4.jpg" class="glightbox"><img src="img/Datanitiv/4.jpg" class="menu-img img-fluid" alt=""></a>
                              </div><!-- Menu Item -->
                
                              <div class="col-lg-4 menu-item">
                                <a href="img/Datanitiv/5.jpg" class="glightbox"><img src="img/Datanitiv/5.jpg" class="menu-img img-fluid" alt=""></a>
                              </div><!-- Menu Item -->
                
                              <div class="col-lg-4 menu-item">
                                <a href="img/Datanitiv/6.jpg" class="glightbox"><img src="img/Datanitiv/6.jpg" class="menu-img img-fluid" alt=""></a>
                              </div><!-- Menu Item -->
                        </div>
                    </div><!-- End One Menu Content -->
                </div>
            </div>
        </section><!-- End Menu Section -->

        <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <div id="preloader"></div>
        <!-- Vendor JS Files -->
        <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="aos/aos.js"></script>
        <script src="glightbox/js/glightbox.min.js"></script>
        <script src="purecounter/purecounter_vanilla.js"></script>
        <script src="swiper/swiper-bundle.min.js"></script>

        <!-- Template Main JS File -->
        <script src="js/main.js"></script>
    </body>
</html>