<!-- //=========================================================================
//Student
//=========================================================================
/**
 * Name: Yeshi Ngawang
 * Id: 301302902
 */ -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="wodth=device-width, initial-scale=1.0">
        <title>Projects</title>

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

        <link href="aos/aos.css" rel="stylesheet">
        <link href="glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="swiper/swiper-bundle.min.css" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="css/main.css" rel="stylesheet" >
    </head>
    <body>
        <header id="header" class="header fixed-top d-flex align-items-center">
            <div class="container d-flex align-items-center justify-content-between">
                <a href="./home" class="logo d-flex align-items-center me-auto me-lg-0">
                    <!-- <img src="img/logo.jpg" alt="---Yeshi---"> -->
                    <h1>Yeshi's<span>.</span></h1>
                  </a>

                  <nav id="navbar" class="navbar">
                    <ul>
                        <li><a href="./home">Home</a></li>
                        <li><a href="./aboutme">About me</a></li>
                        <li><a href="./project">Projects</a></li>
                        <li><a href="./service">Services</a></li>
                        <li><a href="./contactme">Contac me</a></li>
                        <li><a href="./login">Login</a></li>
                    </ul>
                  </nav>
            </div>
        </header>
        <section id="events" class="events">
            <div class="container-fluid" data-aos="fade-up">
                <div class="section-header">
                    <h2></h2>
                    <p>Some <span>of services</span> provided by me</p>
                </div>
                <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(img/Services/General_programming.jpg)">
                            <h3>General programming</h3>
                            <p class="description">
                                I offer general programming services that involve writing, testing, and maintaining code for various applications. I am proficient in multiple programming languages and can develop solutions tailored to specific requirements.
                            </p>
                          </div><!-- End Event item -->

                          <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(img/Services/web_development.jpeg)">
                            <h3>Web development</h3>
                            <p class="description">
                                I provide web development services to create interactive and visually appealing websites. This includes front-end development using HTML, CSS, and JavaScript, as well as back-end development using frameworks like Node.js or PHP to handle server-side functionalities.
                            </p>
                          </div><!-- End Event item -->

                          <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(img/Services/mobile_development.jpg)">
                            <h3>Mobile application development</h3>
                            <p class="description">
                                I specialize in developing mobile applications for iOS and Android platforms. Leveraging technologies like React Native or Flutter, I can create cross-platform mobile apps with smooth performance and intuitive user interfaces.
                            </p>
                          </div><!-- End Event item -->
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>
        <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <div id="preloader"></div>
        <!-- Vendor JS Files -->
        <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="aos/aos.js"></script>
        <script src="glightbox/js/glightbox.min.js"></script>
        <script src="purecounter/purecounter_vanilla.js"></script>
        <script src="swiper/swiper-bundle.min.js"></script>

        <!-- Template Main JS File -->
        <script src="js/main.js"></script>
    </body>
</html>